@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail" method="post">
			<div asp-validation-summary="All"></div>
			<input class="text email" asp-for="Email" placeholder="E-mail" required="">
			<input type="submit" value="Submit">
		</form>
		
	</div>
</div>
@section validationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}


